.search-bar {
  position: relative;
}

.search-bar__input {
  width: 100%;
  height: 35px;

  padding: 0 40px 0 40px;
  border: 1px solid rgba(255, 255, 255, 0.35);

  background: none;
  color: #fff;
  font-size: 12px;
  line-height: 40px;
  outline: none;

  &::placeholder {
    color: rgba(255, 255, 255, 0.65);
    font-size: 12px;
  }

  &:focus {
    border-color: #ffffff;
  }
}

.search-bar__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);

  width: 16px;
  height: 16px;
  opacity: 0.8;
  pointer-events: none;
}

.search-bar__clear {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.8);

  font-size: 16px;
  cursor: pointer;

  &:hover {
    color: #fff;
  }
}
